<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- 變數:LOG位置 -->
	<variable name="logDirectory" value="C:/AGVSystemLog/VMSLog/" />

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->

		<!-- 文件目标，根據日期和類別名稱分資料夾 -->
		<target xsi:type="File" name="fileTarget" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${logger:shortName=true}/${date:format=yyyy-MM-dd HH}.log"
				layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />


		<target xsi:type="File" name="vehicle-state" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${logger}/${date:format=yyyy-MM-dd HH}.log"
				layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />

		<target xsi:type="File" name="all-in-one" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${date:format=yyyy-MM-dd HH}.log"
				layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />

		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="console-log" layout="[${longdate}] |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!-- 忽略規則 |  maxlevel="Warning" => 表示僅記錄Warning以上 -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" final="true" />
		<logger name="System.Net.Http.*" minlevel="Info" final="true" />
		<logger name="Microsoft.*"  maxlevel="Warning"  final="true" />

		<logger name="VehicleState/*" minlevel="Trace" writeTo="vehicle-state" final="true"/>

		<logger name="*" minlevel="Trace" writeTo="fileTarget" />

		<logger name="AGVSystemCommonNet6.AGVDispatch.*"  maxlevel="Warning"  final="true" />
		<logger name="*" minlevel="Trace" writeTo="all-in-one" />
		<logger name="*" minlevel="Info" writeTo="console-log" />
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="*" minlevel="Info" writeTo="ownFile-web" />

	</rules>
</nlog>